$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$grid-gutter-width: 0;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import 'sass-bootstrap/lib/bootstrap';

p {
    font-family: 'Merriweather' $font-family-serif;
}

html,
body {
    height: 100%;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

// Front page
.front-half {
    height: 100%;
    &.projects {
        overflow-y: scroll;
    }
    &.about {
        padding: 40px 45px 50px;
        p {
            color: #6e6e6e;
            line-height: 1.7;
            font-size: 1.25em;
        }
    }
    &.work {
        padding: 60px 45px;
    }
}

.adjust {
    padding-right: 40px;
    padding-left: 40px;
}

h1 {
    font-size: 4.5em;
    font-weight: 900;
    line-height: 1.1;
    width: 87%;
    margin-bottom: 18px;
}

h2 {
    font-size: 3.5em;
    font-weight: 900;
    line-height: 1.1;
    width: 87%;
    letter-spacing: 4px;
    margin-bottom: 18px;
}

p {
    font-size: 14px;
    color: #6e6e6e;
    line-height: 1.8;
    font-size: 1.28em;
}

.project {
    background-color: #ccc;
    height: 400px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #333;
    header {
        width: 100%;
        h3 {
            font-size: 2em;
            font-weight: bold;
        }
        font-family: $font-family-sans-serif;
        text-align: center;
        padding-left: 33px;
        padding-right: 33px;
    }
}

.work {
    .responsibilities {
        padding: 0;
        margin: 1em 0 0;
        list-style: none;
        li {
            font-size: 1.27em;
            margin-bottom: 0.5em;
            font-weight: bold;
            letter-spacing: .1em;
            color: #000;
            .star {
                background-image: url('../images/star.png');
                width: 27px;
                height: 27px;
                display: inline-block;
                background-size: contain;
                margin: -12px 5px -7px -3px;
            }
        }
    }
    a {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
        margin-bottom: 1em;
        border-bottom: 3px solid;
        color: #d62323;
        border-color: #d62323;
        padding: 3px 0;
        border-width: 2px;
        font-size: 1.21em;
        &:hover {
            border-width: 5px;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: $screen-md) {
    .front-half {
        &.about {
            height: auto;
        }
        &.projects {
            overflow-y: visible;
        }
    }
}